<div class="container">
  <div class="col-12">
    <h1 class='m-3 text-center'>Users index page</h1>
  </div>
</div>
<div class="container">
  <%= @users.each do |user|  %>
    <div class="card">
      <img class="card-img-top" src="#" alt="Card image">
      <div class="card-body">
        <h5 class="card-title"><%= user.user_name %></h5>
        <h5 class="card-title"><%= user.alias %></h5>
        <p class="card-text"><%= user.description %></p>
        <a href="#" class="btn btn-primary">More infos</a>
      </div>
    </div>
  <% end %>
</div>
