<div class="container">
  <div class="col-12 col-md-6 m-auto">
    <h1>New order</h1>
      <%= simple_form_for [@crime, @order] do |f| %>
      <%= f.input :description %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
