.home-banner {
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  background-position: center;
  h1 {
    font-weight: 900;
    font-size: 120px;
    font-family: 'Work Sans';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .6rem;
    padding-top: 20vh;
    padding-bottom: 3rem;
  }
}

.banner {
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;

  h1 {
  font-family: 'Work Sans';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 90px;
  color: #D3B16E;
  }

  h2 {
    font-family: 'Lora';
  }
}

.banner-mini {
  height: 30vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/jerrick/image/upload/c_scale,q_auto/hiqdgblbaov3yojctij9.jpg');
  h1 {
    font-size: 48px;
  }
}

.user-infos {
  color: #FFF;
  h4 {

    font-weight: bold;
  }

  h2 {
    font-family: 'Work Sans', serif;
    font-weight: 700;
    color: #D3B16E;
  }

  h6 {
    color: #D3B16E;
    opacity: 0.4;
  }
}
