.villains-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
  margin: 16px;
  max-width: 980px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;

  .villain-card {
    height: 350px;
    background-color: #bb4848;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-decoration: none;
    &:hover {
      transition-duration: .3s;
      transform: scale(1.015);
    }

    span {
      font-size: 32px;
      text-align: center;
      color: #FFF;
      background-color: rgba(0,0,0,.5);
      padding: 12px 24px;
      opacity: 0;
      transition-duration: .3s;
      font-family: 'Work Sans';
      font-weight: 700;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    &:hover {
      span {
        opacity: 1;
      }
    }

  }
}
#map {
  width: 600px;
  height: 100vh;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .villains-cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
  #big-title {
    padding-top: 20vh;
    font-size: 72px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .villains-cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
  #big-title {
    padding-top: 20vh;
    font-size: 120px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .villains-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #big-title {
    font-size: 170px;
  }
}

.crime-card {
  padding: 16px;
  background-color: #202020d0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.18);

  border-radius: 8px;
  border: 1px solid #6A5A39;
  min-height: 250px;
  .crime-name {
    font-size: 16px;
    color: white;
  }
  .price-tag {
    opacity: 0.9;
    font-size: 14px;
    color: $primary;
  }
  .price {
    opacity: 0.9;
    color: white;
  }
  .btn {
    font-size: 14px;
  }
}

.crime-card-order {
  padding: 16px;
  background-color: #6A5A3950;
  border-radius: 8px;
  border: 1px solid #6A5A39;
  min-height: 250px;
  .crime-name {
    font-size: 16px;
    color: white;
  }
  .price-tag {
    opacity: 0.9;
    font-size: 14px;
    color: $primary;
  }
  .price {
    opacity: 0.9;
    color: white;
  }
  .btn {
    font-size: 14px;
  }
}

.crime-modal {
  padding: 16px;
  background-color: #202020ff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  border-radius: 8px;
  border: 1px solid #6A5A39;
  min-height: 250px;
  .crime-name {
    font-size: 16px;
    color: white;
  }
  .price-tag {
    opacity: 0.7;
    font-size: 14px;
    color: #6A5A39;
  }
  .price {
    opacity: 0.7;
    color: white;
  }
  .btn {
    font-size: 14px;
  }
}

#no-border {
  border: none;
}

.review-card {
  padding: 20px;
  background-color: #222222;
  border-bottom: #6A5A39;
  .review-title {
    font-size: 16px;
    color: #d3b16e;
  }
  .review-text {
    font-weight: 100;
  }
}
