.mapboxgl-popup {
  min-width: 150px !important;
  max-height: 500px !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.mapboxgl-popup-content {
  max-width: 500px !important;
  max-height: 500px !important;
  background: #282828 !important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-tip {
  opacity: 0 !important;
}

.popup_name {
  color: #282828;
}
