.navbar-lewagon {
  justify-content: space-between;
  background: #202020;
  padding: 5px 45px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: white !important;
  opacity: 0.7;
  transition-duration: 1s;
}
.active {
  font-weight: bold;
  color: white;
  opacity: 1;
  text-decoration: none;
}
.navbar-lewagon a:hover {
  border-bottom: 1 px solid rgba(255,255,255,.3);
  color: #222 !important;
}

.dropdown-menu {
  background-color: #222;
}
