.user-infos {
  color: #FFF;
  h4 {
    font-weight: bold;
  }

  h2 {
    font-family: 'Work Sans', serif;
    font-weight: 700;
    color: #D3B16E;
  }

  h6 {
    color: #D3B16E;
    opacity: 0.4;
  }
}
